.MveField {
  cursor: pointer;

  border: 1px solid #ccc;
  padding: 0.25em;
  box-sizing: border-box;


  .Heading {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.FieldKey {
  font-weight: bold;
}

.Required {
  color: red;
  font-weight: bold;
}

.TypePill {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: monospace;
  display: flex;
  align-items: center;
}
