.MveFieldSummary {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem;
  gap: 0.5rem;
}

.FieldValue {
  font-family: monospace;
}

.ButtonBar {
  margin-top: 0.5rem;
}
