.MveListPage {

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;

  .MveListContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .FilterBar {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;


      .SortContainer {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

      }
    }
  }

}



@media (max-width: 710px) {
  .MveListPage {
    .MveListContainer {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .MveListPage {
    .MveListContainer {
      .FilterBar {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
